* {
	margin: 0px;
	padding: 0px;
	border: none;
	font-family: Helvetica,sans-serif !important;
	font-size: 13px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	padding: 0px;
}
h1,h2,h3,h4 {
	magin: 5px;
	text-align: center;
	font-weight: bold !important;
}
h1 {
	font-size: 24px !important;
	padding: 7px;
}
h2 {
	font-size: 20px !important;
	padding: 5px;
}
h3 {
	font-size: 16px !important;
	padding: 3px;
}
code{
	display: inline;
	text-align: left;
	font-family: Courier New,Courier,monospace !important;
}
pre{
	display: block;
	text-align: left;
	padding: 1ex 4ex 1ex 4ex;
	font-family: Courier New,Courier,monospace !important;
}
p {
	margin: 1ex 2ex 1ex 2ex;
	padding: 3px;
	text-align: justify;
	text-indent: 4ex;
}
th {
	background: #444444; /* Old browsers */
	background: -moz-linear-gradient(top, #707070 30%, #444444 70%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#707070), color-stop(70%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #707070 30%,#444444 70%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #707070 30%,#444444 70%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #707070 30%,#444444 70%); /* IE10+ */
	background: linear-gradient(to bottom, #707070 30%,#444444 70%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	font-weight: bold;
}
a {
	cursor: pointer;
	border: none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#topct {
	color: #FFFFFF;
	background: #444444; /* Old browsers */
	background: -moz-linear-gradient(top, #707070 30%, #444444 70%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#707070), color-stop(70%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #707070 30%,#444444 70%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #707070 30%,#444444 70%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #707070 30%,#444444 70%); /* IE10+ */
	background: linear-gradient(to bottom, #707070 30%,#444444 70%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
	width: 100%;
	text-align: center;
	padding: 0px;
}
#topct #banner {
	width: 80%;
	min-height: 40px;
	padding: 10px 5px 10px 5px;
	text-align: center;
	margin: auto;
	font-family: Helvetica,sans-serif !important;
	border: none;
}
#banner #topmenu {
	width: 100%;
	padding: 0;
	text-align: left;
}

#contentct {
	width: 100%;
	padding: 0px;
	text-align: center;
}
#contentct #content {
	width: 80%;
	padding: 15px 5px 15px 5px;
	min-height: 300px;
	text-align: center;
	margin: auto;
}

#bottomct {
	color: #FFFFFF;
	background: #444444; /* Old browsers */
	background: -moz-linear-gradient(top, #444444 30%, #707070 70%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#444444), color-stop(70%,#707070)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #444444 30%,#707070 70%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #444444 30%,#707070 70%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #444444 30%,#707070 70%); /* IE10+ */
	background: linear-gradient(to bottom, #444444 30%,#707070 70%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#707070',GradientType=0 ); /* IE6-9 */
	width: 100%;
	padding: 0px;
	text-align: center;
}
#bottomct #footer {
	width: 80%;
	min-height: 30px;
	text-align: center;
	margin: auto;
	padding: 3px 10px 3px 10px;
	font-family: Helvetica,sans-serif !important;
	font-size: 11px !important;
	border: none;
}



.centering {
	display: block;
	text-align: center;
}

table.formTable {
	border: none;
	border-spacing: 0;
	padding: 5px;
	margin: auto;
	width: auto;
	height: auto;
}
table.formTable tr,td,th {
	padding: 7px;
	margin: 0;
	border: none;
	min-height: 20px;
	vertical-align: middle;
	text-align: left;
}

table.dataView {
	border: none;
	border-spacing: 0;
	padding: 0px;
	margin: 20px auto 20px auto;
	min-width: 90%;
	width: 90%;
	max-width: 90%;
	height: auto;
}
table.dataView tr.color1 {
	background: #cccccc;
	background: rgba(199,199,199,0.8);
}
table.dataView tr.color0 {
	background: #eeeeee;
	background: rgba(231,231,231,0.8);
}
table.dataView tr:hover {
	background: #666666;
	background: rgba(68,68,68,0.85);
	color: #ffffff;
}
table.dataView td {
	padding: 5px;
	margin: 1px;
	min-height: 20px;
	vertical-align: middle;
	text-align: left;
}
table.dataView td.actions span {
	display: inline-block;
	border: 1px solid #444444;
}
table.dataView th {
	padding: 7px;
	margin: 0;
	border: none;
	min-height: 20px;
	vertical-align: middle;
	text-align: left;
}

select {
	max-width: 600px !important;
}

input[type='text'],input[type='password'],textarea,select {
	border: 1px solid #444444;
	background: #DDDDDD;
	color: #333333;
	padding: 3px 5px 3px 5px;
	border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
textarea {
	font-family:Courier New,Courier,monospace !important;
}
.cpp-code-view {
	background: #FAFAFA;
	color: #101010;
	font-size: 11pt !important;
	width: 800px !important;
	height: 500px !important;
}
div.cpp-code-view {
	border: 1px solid #444444;
	padding: 3px 5px 3px 5px;
	overflow-y: scroll;
	border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family:Courier New,Courier,monospace !important;
}

.fancyBox {
	background: #444444; /* Old browsers */
	background: -moz-linear-gradient(top, #707070 30%, #444444 70%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#707070), color-stop(70%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #707070 30%,#444444 70%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #707070 30%,#444444 70%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #707070 30%,#444444 70%); /* IE10+ */
	background: linear-gradient(to bottom, #707070 30%,#444444 70%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	padding: 10px;
	color: #ffffff;
	box-shadow: 0px 0px 25px #444444;
	border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

div.ui-dialog {
	box-shadow: 0px 0px 50px #444444;
}
div.ui-widget-overlay {
	background: rgba(68,68,68,0.4);
}
.ui-icon {
	padding: 0px;
	margin: 0px;
	border: none !important;
}

div.problem-try-ct {
	display: block;
	width: 80%;
	height: auto;
	margin: 35px auto 35px auto;
	padding: 15px;
	box-shadow: 0px 0px 15px #444444;
	background: #F9F9F9;
}

div.description-display-box {
	display: block;
	width: 80%;
	height: auto;
	margin: 15px auto 15px auto;
	padding: 5px;
	box-shadow: 0px 0px 5px #444444;
	background: #EEE;
}

.data-view-box {
	display: inline-block;
	max-width: 90%;
	margin: 15px auto 15px auto;
	padding: 20px;
	background: #EEEEEE;
	border: 1px solid #DDDDDD;
	box-shadow: 0px 0px 15px #444444;
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.custom-combobox {
        position: relative;
        display: inline-block;
}

.custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        /*margin-left: -1px;*/
        padding: 0;
        top:0.6em;
        height:1.9em;
}

.custom-combobox-input {
        margin: 0;
        padding: 0.3em;
}
